@charset "UTF-8";

* {
  box-sizing: border-box; }

html {
  line-height: 1.2;
  font-size: 8px;
  font-family: "Gotham A", "Gotham B", "Gotham", sans-serif;
  color: black; }
  @media (min-width: 321px) {
    html {
      font-size: 9px; } }
  @media (min-width: 480px) {
    html {
      font-size: 12px; } }
  @media (min-width: 600px) {
    html {
      font-size: 14px; } }
  @media (min-width: 769px) {
    html {
      font-size: 12px; } }
  @media (min-width: 920px) {
    html {
      font-size: 14px; } }

h1, h2, h3, h4 {
  line-height: 1.1;
  margin: 0; }

h1 {
  font-size: 58.922px;
  font-size: 4.209rem; }

h2 {
  font-size: 44.203px;
  font-size: 3.157rem; }

h3 {
  font-size: 33.16px;
  font-size: 2.369rem; }

h4 {
  font-size: 24.876px;
  font-size: 1.777rem; }

p, li {
  font-size: 24.876px;
  font-size: 1.777rem; }
  @media (min-width: 480px) {
    p, li {
      font-size: 18.662px;
      font-size: 1.333rem; } }

small, .small {
  font-size: 18.662px;
  font-size: 1.333rem; }
  @media (min-width: 480px) {
    small, .small {
      font-size: 14px;
      font-size: 1rem; } }

.xs {
  font-size: 10px;
  font-size: 0.75rem; }

.bs-bold-text {
  font-weight: 700; }

.bs-thin-text {
  font-weight: 400; }

.bs-caps {
  text-transform: uppercase; }

.bs-red-text {
  color: #e21a23; }

a {
  text-decoration: underline;
  color: #e21a23; }

img {
  vertical-align: middle; }

a:active, a:hover, a:visited {
  color: #881015; }

.bs-hidden-link {
  line-height: 0;
  font-size: 0;
  color: transparent; }

body {
  position: relative; }

*:focus {
  outline-style: none;
  box-shadow: none;
  border-color: transparent; }

.bs-navbar {
  position: fixed;
  width: 100%;
  margin-bottom: 0;
  background-color: #e21a23;
  border: none;
  border-radius: 0;
  height: 60px;
  z-index: 300;
  transform: translateY(-100%);
  transition: all 0.5s; }

.bs-navbar-show {
  transform: translateY(0); }

.bs-brand {
  cursor: pointer;
  float: none;
  position: absolute;
  top: 50%;
  left: 15px;
  width: 232px;
  height: 40px;
  color: black;
  background: url("/images/BREAKSTONES_2C_WHT_SHD_LOGO.png") no-repeat center;
  margin-top: -20px; }
  @media (min-width: 769px) {
    .bs-brand {
      left: 50%;
      margin-left: -116px; } }

.bs-hero {
  height: 400px;
  height: 50vh;
  background: url("/images/Spoon-Header.png") no-repeat scroll;
  background-position: 85% 60%;
  background-size: cover;
  margin: 0; }
  @media (min-width: 769px) {
    .bs-hero {
      height: 62vh; } }
  @media (min-width: 1440px) {
    .bs-hero {
      height: 445px; } }

.bs-slider-product {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin: 0 auto; }
  @media (min-width: 769px) {
    .bs-slider-product {
      width: 90%; } }
  @media (min-width: 1080px) {
    .bs-slider-product {
      width: 983px; } }
  .bs-slider-product__item {
    cursor: pointer;
    max-width: 30%;
    height: 150px;
    margin-left: 2vw;
    margin-right: 2vw;
    margin-bottom: 0; }
    @media (min-width: 480px) {
      .bs-slider-product__item {
        height: 27vw;
        margin-bottom: 1vw; } }
    @media (min-width: 769px) {
      .bs-slider-product__item {
        height: 19vw;
        width: 19vw;
        margin-bottom: 3vw; } }
    @media (min-width: 1080px) {
      .bs-slider-product__item {
        height: 200px;
        width: 200px;
        margin-bottom: 32px; } }
    .bs-slider-product__item > p {
      margin-top: .5rem;
      text-align: center; }
    .bs-slider-product__item > img {
      width: 100%; }

.bs-product-wrapper {
  margin: 0 auto;
  width: 95%;
  padding-top: 3rem;
  padding-bottom: 4rem; }

.bs-slider-arrow {
  color: #e21a23;
  position: absolute;
  top: 50%;
  cursor: pointer;
  margin-top: -0.5em; }
  .bs-slider-arrow.fa-caret-left {
    margin-left: -4vw; }
    @media (min-width: 1080px) {
      .bs-slider-arrow.fa-caret-left {
        margin-left: -48px; } }
  .bs-slider-arrow.fa-caret-right {
    right: 0;
    margin-right: -4vw; }
    @media (min-width: 1080px) {
      .bs-slider-arrow.fa-caret-right {
        margin-right: -48px; } }

.bs-content-wrapper {
  padding: 0;
  margin: 0;
  width: 100%;
  padding-top: 3rem;
  padding-bottom: 3rem; }
  @media (min-width: 769px) {
    .bs-content-wrapper {
      margin: 0 auto;
      width: 90%;
      padding-left: 1rem;
      padding-right: 1rem; } }

.bs-slider-content {
  width: 100%;
  margin-bottom: 7rem; }
  @media (min-width: 1080px) {
    .bs-slider-content {
      width: 983px;
      margin: 0 auto;
      margin-bottom: 2rem; } }

.bs-slider-content-item {
  cursor: pointer;
  position: relative;
  height: 100vw; }
  @media (min-width: 769px) {
    .bs-slider-content-item {
      height: 42vw;
      margin-left: 1vw;
      margin-right: 1vw; } }
  @media (min-width: 1080px) {
    .bs-slider-content-item {
      height: 475px; } }

.bs-slider-content-text-wrapper {
  position: absolute;
  width: 70vw;
  height: 70vw;
  border: 20px solid #e21a23;
  background: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }
  @media (min-width: 769px) {
    .bs-slider-content-text-wrapper {
      position: static;
      width: 50%;
      height: inherit;
      transform: none;
      border-width: 20px; } }

.bs-slider-content-text {
  text-align: center;
  top: 50%;
  left: 50%;
  position: relative;
  transform: translate(-50%, -50%);
  padding: 0 0.5rem; }
  .bs-slider-content-text > h2 {
    margin: 0;
    margin-bottom: .75rem;
    letter-spacing: 0; }
  .bs-slider-content-text > p {
    margin: 0 0.5rem; }
  @media (min-width: 769px) {
    .bs-slider-content-text {
      width: 95%;
      top: 50%;
      left: 50%;
      position: relative;
      transform: translate(-50%, -50%); }
      .bs-slider-content-text > p {
        margin-top: 1rem; } }

.bs-slider-content-image {
  width: 100%;
  height: 100%; }
  @media (min-width: 769px) {
    .bs-slider-content-image {
      width: 50%;
      height: inherit; } }

@media (min-width: 769px) {
  .bs-eats > .bs-slider-content-text-wrapper {
    float: right; }
  .bs-eats > .bs-slider-content-image {
    float: left; } }

@media (min-width: 769px) {
  .bs-reads > .bs-slider-content-text-wrapper {
    float: left; }
  .bs-reads > .bs-slider-content-image {
    float: right; } }

.bs-modal {
  z-index: 20;
  visibility: hidden;
  position: fixed;
  top: 0;
  padding-top: 60px;
  left: 0;
  width: 100%;
  height: 100%;
  background: white;
  pointer-events: none;
  overflow-y: scroll;
  overflow-x: hidden; }

.bs-modal-wrapper {
  background: white;
  position: relative;
  width: 100%;
  margin: 0 auto;
  padding: 0;
  padding-bottom: 50%; }
  @media (min-width: 1080px) {
    .bs-modal-wrapper {
      width: 1080px; } }

.bs-modal-recipe-left {
  width: 100%; }
  @media (min-width: 769px) {
    .bs-modal-recipe-left {
      float: left;
      width: 50%; } }

.bs-modal-recipe-right {
  width: 100%;
  margin-top: 490px;
  margin-left: 8vw; }
  @media (min-width: 370px) {
    .bs-modal-recipe-right {
      margin-top: 140vw; } }
  @media (min-width: 480px) {
    .bs-modal-recipe-right {
      margin-top: 150vw; } }
  @media (min-width: 560px) {
    .bs-modal-recipe-right {
      margin-top: 136vw; } }
  @media (min-width: 660px) {
    .bs-modal-recipe-right {
      margin-top: 129vw; } }
  @media (min-width: 769px) {
    .bs-modal-recipe-right {
      margin-left: 0;
      margin-top: 0;
      float: right;
      width: 50%; } }

.bs-modal-exit {
  z-index: 50;
  color: black;
  cursor: pointer;
  position: absolute;
  top: 75px;
  right: 2vw; }

.bs-modal-spinner {
  color: #e21a23;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -2.5rem;
  margin-left: -2.5rem; }

.bs-noscroll {
  position: fixed; }

.bs-modal-visible {
  visibility: visible;
  pointer-events: auto; }

.bs-modal-content {
  margin: 0;
  position: absolute;
  width: 100%;
  padding-bottom: 30rem; }
  @media (min-width: 769px) {
    .bs-modal-content {
      padding-top: 10vw; } }
  @media (min-width: 1080px) {
    .bs-modal-content {
      padding-top: 100px; } }

.bs-modal-recipe-box {
  position: absolute;
  top: 0; }
  @media (min-width: 769px) {
    .bs-modal-recipe-box {
      top: auto;
      margin-left: 3vw;
      height: 80vw; } }

.bs-modal-error > h3 {
  margin-top: 70px;
  text-align: center; }

.bs-modal-recipe-title-wrapper {
  position: absolute;
  width: 100vw;
  top: 100vw;
  border-bottom: 2px solid #E6E6E6; }
  @media (min-width: 769px) {
    .bs-modal-recipe-title-wrapper {
      position: absolute;
      width: 40vw;
      height: 40vw;
      border: 20px solid #e21a23;
      top: auto; } }
  @media (min-width: 1080px) {
    .bs-modal-recipe-title-wrapper {
      height: 440px;
      width: 440px; } }

.bs-modal-recipe-title {
  margin: 0 auto;
  padding: 1rem;
  width: 90%;
  text-align: center; }
  @media (min-width: 769px) {
    .bs-modal-recipe-title {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }
      .bs-modal-recipe-title > h3 {
        margin-bottom: 0.5em; } }

.bs-modal-prep {
  display: inline-block;
  width: 100%; }
  @media (min-width: 769px) {
    .bs-modal-prep {
      padding: 0;
      margin: 0; } }
  .bs-modal-prep > h4 {
    display: inline;
    margin: 0; }
  .bs-modal-prep > h4:first-child {
    margin-left: 0.5em; }

.bs-modal-recipe-image {
  top: 0;
  position: relative;
  height: 100vw;
  width: 100vw; }
  @media (min-width: 769px) {
    .bs-modal-recipe-image {
      top: auto;
      height: 40vw;
      width: 40vw; } }
  @media (min-width: 1080px) {
    .bs-modal-recipe-image {
      height: 440px;
      width: 440px; } }

.bs-modal-recipe-nutros {
  margin-left: 8vw;
  margin-bottom: 10rem;
  width: 85%; }
  .bs-modal-recipe-nutros > h3 {
    display: inline-block;
    letter-spacing: 0.1em; }
  @media (min-width: 769px) {
    .bs-modal-recipe-nutros {
      width: 40%;
      margin-top: 81vw;
      margin-left: 3.5vw; } }
  @media (min-width: 1080px) {
    .bs-modal-recipe-nutros {
      margin-top: 920px; } }

.bs-modal-recipe-ingredients {
  margin-bottom: 4rem; }

.bs-ingredient-list, .bs-instruction-list {
  list-style: none;
  padding: 0; }
  .bs-ingredient-list > li, .bs-instruction-list > li {
    margin-left: 0;
    line-height: 1.7em;
    width: 90%; }
    .bs-ingredient-list > li > h3, .bs-instruction-list > li > h3 {
      display: inline-block;
      text-transform: uppercase;
      letter-spacing: 0.1rem; }

li.bs-ingredient-subhead {
  text-transform: uppercase;
  font-weight: 700;
  margin-top: 0.5em; }

.bs-modal-recipe-extras {
  margin-top: 4rem; }
  .bs-modal-recipe-extras > h3 {
    display: inline-block;
    letter-spacing: 0.1rem;
    max-width: 85%; }
  .bs-modal-recipe-extras > p {
    margin-left: 0;
    line-height: 1.5em;
    width: 90%; }

.bs-modal-content-box {
  position: relative;
  height: 100vw;
  margin: 0 auto;
  width: 100%; }
  @media (min-width: 769px) {
    .bs-modal-content-box {
      height: 42vw;
      width: 90%; } }
  @media (min-width: 1080px) {
    .bs-modal-content-box {
      height: 475px; } }

.bs-modal-product-box {
  position: relative;
  margin: 0 auto;
  margin-top: 50px;
  width: 100%;
  height: 42vw; }
  @media (min-width: 769px) {
    .bs-modal-product-box {
      width: 90%; } }
  @media (min-width: 1080px) {
    .bs-modal-product-box {
      height: 475px; } }

.bs-modal-product-box:first-child {
  margin-top: 0; }

.bs-modal-content-title-wrapper {
  float: left;
  position: absolute;
  width: 70vw;
  height: 70vw;
  border: 20px solid #e21a23;
  background: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }
  @media (min-width: 769px) {
    .bs-modal-content-title-wrapper {
      position: static;
      width: 50%;
      height: inherit;
      transform: none;
      border-width: 20px; } }

.bs-modal-product-title-wrapper {
  float: left;
  position: static;
  width: 50%;
  height: inherit;
  transform: none;
  border: 15px solid #e21a23; }
  @media (min-width: 769px) {
    .bs-modal-product-title-wrapper {
      border-width: 20px; } }

.bs-modal-content-title, .bs-modal-product-title {
  text-align: center;
  top: 50%;
  left: 50%;
  position: relative;
  transform: translate(-50%, -50%);
  padding: 0 0.5rem; }
  .bs-modal-content-title > h2, .bs-modal-product-title > h2 {
    margin: 0;
    margin-bottom: .75rem;
    letter-spacing: 0; }
  .bs-modal-content-title > p, .bs-modal-product-title > p {
    margin: 0 0.5rem; }
  @media (min-width: 769px) {
    .bs-modal-content-title, .bs-modal-product-title {
      width: 95%;
      top: 50%;
      left: 50%;
      position: relative;
      transform: translate(-50%, -50%); }
      .bs-modal-content-title > p, .bs-modal-product-title > p {
        margin-top: 1rem; } }

.bs-modal-content-image {
  width: 100%;
  height: 100%;
  float: right; }
  @media (min-width: 769px) {
    .bs-modal-content-image {
      width: 50%;
      height: inherit; } }

.bs-modal-product-image {
  float: right;
  width: 50%;
  height: inherit;
  background-color: #e21a23;
  padding: 7%;
  position: absolute;
  visibility: hidden;
  vertical-align: middle; }

.bs-svgbox {
  position: absolute;
  width: 200%;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  flex-wrap: wrap;
  top: 40vw;
  margin: 0 auto; }
  @media (min-width: 556px) {
    .bs-svgbox {
      top: 35vw; } }
  @media (min-width: 600px) {
    .bs-svgbox {
      width: 200%;
      top: 32vw; } }
  @media (min-width: 769px) {
    .bs-svgbox {
      position: static;
      width: 90%;
      height: 95px; } }

.bs-svg {
  cursor: pointer;
  height: 60px;
  width: 60px;
  fill: none; }
  @media (min-width: 600px) {
    .bs-svg {
      width: 90px;
      height: 90px; } }
  @media (min-width: 769px) {
    .bs-svg {
      height: 50px;
      width: 50px; } }

.bs-svg.product10 {
  width: 40px;
  height: 40px;
  padding-left: 5px;
  padding-right: 5px; }
  .bs-svg.product10 > small {
    font-size: .75rem; }
  @media (min-width: 769px) {
    .bs-svg.product10 {
      width: 60px;
      height: 80px; } }
  @media (min-width: 897px) {
    .bs-svg.product10 {
      width: 75px; } }

.bs-modal-product-nutrobox {
  position: relative;
  height: auto;
  margin: 0 auto;
  width: 100%;
  height: 590px;
  margin-top: 150px; }
  @media (min-width: 321px) {
    .bs-modal-product-nutrobox {
      height: 710px; } }
  @media (min-width: 480px) {
    .bs-modal-product-nutrobox {
      height: 700px; } }
  @media (min-width: 769px) {
    .bs-modal-product-nutrobox {
      height: 600px;
      width: 90%;
      margin-top: 0; } }

.bs-modal-nutros, .bs-modal-ingredients {
  width: 100%;
  padding: 1rem; }
  @media (min-width: 769px) {
    .bs-modal-nutros, .bs-modal-ingredients {
      width: 50%; } }

.bs-modal-nutros {
  width: 100%;
  height: 420px;
  position: relative; }
  @media (min-width: 321px) {
    .bs-modal-nutros {
      height: 520px; } }
  @media (min-width: 480px) {
    .bs-modal-nutros {
      height: 550px; } }
  @media (min-width: 769px) {
    .bs-modal-nutros {
      width: 50%;
      height: auto;
      float: left; } }
  .bs-modal-nutros > h4 {
    margin-bottom: 1rem; }

.bs-modal-ingredients {
  width: 100%;
  position: relative;
  height: 200px; }
  @media (min-width: 769px) {
    .bs-modal-ingredients {
      width: 50%;
      height: auto;
      float: right; } }

.bs-modal-variation-nutros {
  position: absolute;
  width: 95%;
  visibility: hidden; }
  .bs-modal-variation-nutros > p {
    margin-top: 0;
    margin-bottom: 0.25rem; }
    .bs-modal-variation-nutros > p > span {
      margin-right: 0.5em; }
  .bs-modal-variation-nutros ul {
    list-style: none;
    padding-left: 0.5rem;
    margin-left: 0;
    margin-top: 1rem; }
  .bs-modal-variation-nutros li {
    margin-top: .5rem;
    margin-bottom: .5rem;
    border-bottom: 1px solid #E6E6E6;
    min-height: 1.5em; }
    .bs-modal-variation-nutros li span {
      width: 15%;
      float: right;
      text-align: left; }
  @media (min-width: 769px) {
    .bs-modal-variation-nutros {
      width: 80%; } }

.bs-modal-variation-ingredients {
  position: absolute;
  visibility: hidden;
  padding-right: 2rem; }
  .bs-modal-variation-ingredients > p > span {
    margin-right: 0.5em; }
  .bs-modal-variation-ingredients .bs-ingredients-legal {
    padding-top: 5rem; }

svg:hover {
  fill: #e21a23; }

.active-var {
  visibility: visible; }
  .active-var svg {
    fill: #e21a23; }

.svg-unrendered {
  height: 0;
  width: 0;
  display: none; }

.bs-modal-copy {
  width: 80%;
  margin: 0 auto;
  text-align: left; }
  @media (min-width: 769px) {
    .bs-modal-copy {
      text-align: center; } }
  .bs-modal-copy > ul {
    list-style: none;
    padding-left: 0;
    padding-start: 0; }
  .bs-modal-copy li {
    margin-bottom: 2em; }
    .bs-modal-copy li p {
      margin-top: 0.25rem; }
  .bs-modal-copy a > h4 {
    margin-top: 0;
    margin-bottom: .25rem; }
  .bs-modal-copy span {
    margin-top: 0;
    color: #E6E6E6;
    text-transform: uppercase;
    margin-left: 20px; }
    .bs-modal-copy span.active {
      color: #e21a23; }

.bs-product-legal {
  float: left;
  width: 80%;
  margin-left: 7%; }
  @media (min-width: 769px) {
    .bs-product-legal {
      width: 40%; } }

.bs-footer {
  width: 100%;
  position: static;
  bottom: 0;
  height: 100px; }

.bs-modal-footer {
  position: absolute;
  bottom: 110px;
  width: 100%;
  height: 100px; }

.bs-footer-content {
  margin: 0 auto;
  height: inherit;
  width: 90%;
  padding-left: 1rem;
  padding-right: 1rem; }

.bs-footer-logo {
  float: left;
  width: 183px;
  height: 37px;
  margin-top: 20px;
  background: url("/images/BREAKSTONES_4C_LOGO.png") no-repeat center; }

.bs-footer-legal {
  margin-top: 20px;
  float: right; }

.bs-dots {
  position: absolute;
  bottom: -45px;
  display: block;
  width: 100%;
  padding: 0;
  list-style: none;
  text-align: center; }

.bs-dots li {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer; }

.bs-dots li button {
  font-size: 0;
  line-height: 0;
  display: block;
  width: 20px;
  height: 20px;
  padding: 7px;
  cursor: pointer;
  color: transparent;
  border: 0;
  outline: none;
  background: transparent; }

.bs-dots li button:hover,
.bs-dots li button:focus {
  outline: none; }

.bs-dots li button:hover:before,
.bs-dots li button:focus:before {
  opacity: 1; }

.bs-dots li button:before {
  content: " ";
  font-size: 20px;
  line-height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  border: 3px solid #e21a23;
  background-color: transparent; }

.bs-dots li.slick-active button:before {
  background-color: #e21a23; }

.bs-sharingbox {
  margin: 0 auto;
  display: none;
  width: 35%;
  height: 4rem; }
  @media (min-width: 769px) {
    .bs-sharingbox {
      display: flex;
      justify-content: space-between;
      align-items: flex-end; } }
  .bs-sharingbox > i {
    cursor: pointer; }
  .bs-sharingbox > a {
    color: black; }
    .bs-sharingbox > a:hover {
      color: black; }
  .bs-sharingbox .fa-pinterest-square {
    display: none; }
